<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605459084539-rlr764bkiibi5o0qqvi4ftg2aofkq5js.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605459084539-rlr764bkiibi5o0qqvi4ftg2aofkq5js</string>
	<key>API_KEY</key>
	<string>AIzaSyB1xh31kUHWguvgcQF8TIurLkB9JzBWJvI</string>
	<key>GCM_SENDER_ID</key>
	<string>605459084539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ephealthDesafioFlutter</string>
	<key>PROJECT_ID</key>
	<string>ephealth-desafio</string>
	<key>STORAGE_BUCKET</key>
	<string>ephealth-desafio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605459084539:ios:3202fb1640211043d76c5e</string>
</dict>
</plist>